/* Reset de base */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Style de l'en-tête vidéo */
.video-header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  text-shadow: 0 2px 10px rgba(255, 255, 255, 0.7);
}

.overlay h1 {
  font-size: 3rem;
  margin: 0;
}

/* Nouvelle classe pour personnaliser la couleur du texte */
.overlay h1.text-color, 
.overlay p.text-color {
  color: #008000; /* Couleur personnalisée, exemple orange */
}

.overlay p {
  font-size: 1.5rem;
  margin: 10px 0 0;
}

/* Style de la section À propos */
.video-section {
  padding: 2rem;
  background-color: #ffffff;
  text-align: center;
}

.video-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}


.about p {
  font-size: 1.2rem;
  line-height: 1.6;
}

/* Responsiveness */
@media (max-width: 768px) {
  .overlay h1 {
    font-size: 2rem;
  }

  .overlay p {
    font-size: 1rem;
  }
}

.video-box {
  width: 400px;
  height: 225px;
  margin: 2rem auto; /* centre horizontalement */
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.video-box iframe {
  width: 100%;
  height: 100%;
  display: block;
}
